.ShliambOff {
	display: none;
}
.mcLevel0 {
	background-color: darkgrey;
	margin-top: 10px;
}
.mcLevel1 {
	background-color: darkgrey;
	margin-top: 2px;
	margin-left: 40px;
}	
.mcLevel2 {
	background-color: darkgrey;
	margin-top: 2px;
	margin-left: 60px;
}
.mcLevel3 {
	background-color: darkgrey;
	margin-top: 2px;
	margin-left: 120px;
}
.mcLevel4 {
	background-color: darkgrey;
	margin-top: 2px;
	margin-left: 160px;
}
.lastComment {
	background: cadetblue !important;
}